.button {
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
  border-radius: 25px;
  background-color: $primary;
  border: none;
  letter-spacing: .1rem;
  font-weight: 700;
  color: $white;
  &:hover {
    color: $primary;
    background-color: $white;
    cursor: pointer;
  }
}